// Grid
$grid-breakpoints: (
        xs: 0,
        sm: 768px,
        md: 1024px,
) !default;

$grid-columns: 12 !default; // Set number of columns in the grid

$xs-max: 767px !default; // Set xs breakpoint's max width
$sm-max: 1023px !default; // Set sm breakpoint's max width
$md-max: 1439px !default; // Set md breakpoint's max width

$gutter: 0 !default; // Set gutter size

$sm-start: ($xs-max + 1); // Generate sm breakpoint's min width
$md-start: ($sm-max + 1); // Generate md breakpoint's min width

// Breakpoints
// Create breakpoint range statements to be used in media queries

// 0 -> xs-max range
$breakpoint-xs-only: "only screen and (max-width: #{$xs-max})";

// sm-start -> up range
$breakpoint-sm-up: "only screen and (min-width: #{$sm-start})";

// sm-start -> sm-max range
$breakpoint-sm-only: "only screen and (min-width: #{$sm-start}) and (max-width: #{$sm-max})";

// md-start -> up range
$breakpoint-md-up: "only screen and (min-width: #{$md-start})";

// others
$breakpoints-all: ($breakpoint-xs-only, $breakpoint-sm-up, $breakpoint-sm-only, $breakpoint-md-up);
$breakpoint-ups: ($breakpoint-sm-up, $breakpoint-md-up,);
$breakpoint-all-prefixes: ("xs", "xs-only", "sm", "sm-only", "md",);
$breakpoint-up-prefixes: ("xs", "sm", "md");
